body {
    padding-top: 56px; /* Ajuste pour laisser de l'espace pour la navbar */
}
.navbar-nav .nav-link.active {
    font-weight: bold;
}
.header-section {
    background: url('../images/voyage.jpg') no-repeat center center;
    background-size: cover;
    height: 200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header-section h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}
.container {
    padding-top: 30px;
}

.add_travel {
    position: absolute;
    top: 10px;
    right: 0;
}